<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido a AutoloteApp</h1>
        <p class="lead">AutoloteApp! es una aplicacion que permite administrar el listado de Carros dentro de su 
            propio Autolote</p>
        <a class="btn btn-primary btn-log" routerLink="/carros" role="button">Ir a Carros</a>
        <a> --</a>
        <a class="btn btn-primary btn-log" routerLink="/detallesCarro" role="button">Ir a Detalles Carro</a>
    </div>
</div>